/*
CONTENT
	1. VARIABLES
	2. HEADER AND NAVIGATION
	3. SVGS AND IMGS
	4. BUTTONS
	5. TEXT STYLE
	6. GRID
	7. SHELTERS
	8. SPONSORS
	9. MODAL
	10. FOOTER
*/

@import url("https://use.typekit.net/hdt8czr.css");
html {scroll-behavior: smooth;}
body {
	margin: 0;
	overflow-x: hidden;
}


/* 1. VARIABLES*/
:root {
	--4paws-font: verveine, sans-serif;
	--mainText-font: montserrat, sans-serif;
	--headings-weight: 500;
    --header-color: #3D3D3D;
    --border-color: #FFC726;
}


/* 2. HEADER AND NAVIGATION*/
#mainNav ul {
	text-align: end;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0;
	padding: .6em;
}

#mainNav ul li {
	font-family: var(--mainText-font);
	font-size: 1.3rem;
	font-weight: 600;
	color: white;
	display: inline;
	padding: 0.7em;
}

.headerImg {
	position: relative;
	z-index: -1;
	top: -45px;
	width: 100%;
}

/* 3. SVG AND IMG*/

/* 4. BUTTONS*/
.outline {
    border: 3px solid #FFC726;
    position: relative;
    color: black;
    font-size: 16pt;
    line-height: 50px;
    top: -9px;
    left: -14px;
    width: 195px;
    height: 55px;
}

button {
    background-color: #ECDFCE;
    border: 0px;
    width: 200px;
    height: 60px;
    position: relative;
    top: 20px;
    left: 20px;
}

/* 5. TEXT STYLE*/
h1, p { margin: 10px 25px;}
#about4Paws {
    text-align: center;
    width:  80%;
    max-width: 800px;
    margin: auto;
    border-left: 4px solid var(--border-color);
    border-top: 4px solid var(--border-color);
}

main h1 {
    font-family: var(--mainText-font);
    color: var(--header-color);
    font-size: 52px;
    font-weight: 800;
	margin-bottom: 0;
}

main p {
    font-size: 16pt;
    font-weight: 300;
    font-family: var(--mainText-font);
}

#adoptWithUs {
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 1200px;
    margin: 150px auto;
    align-items: center;
}

#adoptWithUs img {
    height: 30vh;
    margin-right: 50px;
}

.containerParagraphHeader {
    border-right: 4px solid var(--border-color);
    border-top: 4px solid var(--border-color);
}

.containerParagraphHeader h1 {
    text-align: center;
}

#volunteerWithUs {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1200px;
    margin: auto;
    align-items: center;
}

#volunteerWithUs h1 {
    text-align: center;
/*    border-bottom: 4px solid var(--border-color);*/
}

#volunteerWithUs img {
    width: 60%;
}

#volunteerParagraph {
    border-left: 4px solid var(--border-color);
    padding-left: 20px;
}

.containerImageParagraph {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 10. FOOTER */
footer {
	height: 180px;
	background-color: rgba(15, 107, 87, 0.8);
}

.footernav {
    display: flex;
    column-gap: 70px;
    justify-content: flex-end;
    margin-right: 230px;
    padding-top: 50px;
}

footer h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    margin: 2px;
    font-weight: 550;
}

footer p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin: 1px;
}

.copyright {
    text-align: center;
    margin-top: 30px;
}
