/* CONTENT
	1. VARIABLES
	2. HEADER AND NAVIGATION
	3. SVGS AND IMGS
	4. BUTTONS
	5. TEXT STYLE
	6. GRID
	7. SHELTERS
	8. CAROUSEL - SPONROS
	9. MODAL*/


@import url("https://use.typekit.net/hdt8czr.css");

body {
	margin: 0;
	overflow-y: hidden;
}

/* 1. VARIABLES*/
:root {
	--4paws-font: verveine, sans-serif;
	--mainText-font: montserrat, sans-serif;
}


/* 2. HEADER AND NAVIGATION*/
.headerImg {
	width: 100%;
	height: 100%;
}



.outline {
    border: 3px solid #FFC726;
    position: relative;
    color: black;
    font-size: 16pt;
    line-height: 50px;
    top: -9px;
    left: -14px;
    width: 195px;
    height: 55px;
}

button {
    background-color: #ECDFCE;
    border: 0px;
    width: 200px;
    height: 60px;
    position: relative;
    top: 20px;
    left: 20px;
}

main {
    background-color: white;
}

/* FOOTER */
footer {
height: 160px;
background-color: rgba(15,107,87,0.8);
}

.footernav {
    display: flex;
    column-gap: 70px;
    justify-content: flex-end;
    margin-right: 230px;
    padding-top: 50px;
}

footer h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    margin: 2px;
    font-weight: 550;
}

footer p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin: 1px;
}

.copyright {
    text-align: center;
    margin-top: 30px;
}

